{% extends "PolytechProjetCoBundle::layout.html.twig" %}

{% block title %}
  {{title}} - {{ parent() }}
{% endblock %}

{% set totalHT = 0 %}
{% set totalTTC = 0%}
{% set refTva = {} %}

{% for produit in produits %}
    {% set refTva = refTva|merge({ ('%' ~ produit.getTvaId().valeur) : 0 }) %}
{% endfor %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

<h2>{{title}}</h2>
<div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Détails du panier</h3>
      <div class="box-tools pull-right">
      </div>
    </div><!-- /.box-header -->
    
    <div class="box-body">
      <div class="table-responsive">
        <table class="table no-margin">
          <thead>
            <tr>
              <th>Référence</th>
              <th>Quantité</th>
              <th>Prix unitaire</th>
              <th>Total</th>
            </tr>
          </thead>
            <tbody>
                {% if produits|length == 0 %}
                        <tr>
                            <td colspan="4"><center>Aucun articles dans votre panier</center></td>
                        </tr>
                    {% endif %}
                    
                    {% for produit in produits %}
                    <tr>
                        <form action="{{ path('polytech_ecommerce_AjouterPanier', { 'id' : produit.id }) }}" method="get">
                            <td>{{ produit.nom }}</td>
                            <td>
                                <select name="qte" class="span1" onChange="this.form.submit()">
                                    {% for i in 1..10 %}
                                        <option value="{{ i }}" {% if i == panier[produit.id] %} selected="selected" {% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>&nbsp;
                                <a href="{{ path('polytech_ecommerce_SupprimerPanier', { 'id' : produit.id }) }}"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                            <td>{{ produit.prix }} €</td>
                            <td>{{ produit.prix * panier[produit.id] }} €</td>
                        </form>
                    </tr>
                    {% set totalHT = totalHT + (produit.prix * panier[produit.id]) %}
                    {% set totalTTC = totalTTC + (produit.prix * panier[produit.id])|tva(produit.getTvaId().multiplicate) %}
                    {% set refTva = refTva|merge({ ('%' ~ produit.getTvaId().valeur) : refTva['%' ~ produit.getTvaId().valeur] + ( produit.prix * panier[produit.id])|montantTva(produit.getTvaId().multiplicate) }) %}
                    {% endfor %}
            </tbody>
          </table>
          
        </div>
            
        {% if produits|length != 0 %}
        <dl class="dl-horizontal pull-right">
            <dt>Total HT :</dt><dd>{{ totalHT }} €</dd>

            {% for key, tva in refTva %}
                <dt>TVA ({{ key }}) :</dt><dd>{{ tva }} €</dd>
            {% endfor %}

            <dt>Total TTC :</dt><dd>{{ totalTTC }} €</dd>
        </dl>
        {% endif %}
    </div>
    <div class="box-footer">
        <div class="pull-left">
          <a href="{{ path('polytech_ecommerce_Produits') }}" class="btn btn-block btn-primary">Continuer mes achats</a>
        </div>
        {% if produits|length != 0 %}
        <div class="pull-right">
          <a href="{{ path('polytech_ecommerce_Livraison') }}" class="btn btn-block btn-success">Valider mon panier</a>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}