{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}


<div class="register-box-body">
    <p class="login-box-msg">Inscription d'un nouveau membre</p>
  {{ form_start(user, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(user) }}

    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(user.Civilité, "Civilité", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(user.Civilité) }}

      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(user.Civilité, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>