{% set totalProduits = 0 %}
{% set panier = app.session.get('panier') %}
{% for produit in panier  %}
{% set totalProduits = totalProduits + produit %}
{% endfor %}

<li class="dropdown notifications-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-shopping-cart"></i>
        {% if totalProduits != 0 %}
      <span class="label label-warning">{{totalProduits}}</span>
        {% endif %}
    </a>
    <ul class="dropdown-menu">
        {% if totalProduits != 0 %}
            {% if totalProduits == 1 %}
      <li class="header">Vous avez {{totalProduits}} produit dans le panier</li>
            {% else %}
        <li class="header">Vous avez {{totalProduits}} produits dans le panier</li>
        {% endif %}

         {% else %}
        <li class="header">Votre panier est vide !</li>
        {% endif %}
      <li class="footer"><a href="{{ path('polytech_ecommerce_Panier') }}">Voir le panier</a></li>
    </ul>
  </li>
<li class="dropdown user user-menu">
<!-- Menu Toggle Button -->
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <!-- The user image in the navbar-->
  <span class="glyphicon glyphicon-user"></span>
  <!--img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image"/>
  <!-- hidden-xs hides the username on small devices so only the image appears. -->
  <span class="hidden-xs">{{ app.user.username }}</span>
</a>

<ul class="dropdown-menu">
    <!-- User image -->
      <li class="user-header">
          <img src="{{ asset('Style/images/Users/') }}{{ app.user.id }}.png" class="img-circle" alt="User Image" />
        <p>
          {{ app.user.username }} - Web Developer - {{ app.user.id }}
          <small>Dernière connexion : [à implémenter]</small>
        </p>
      </li>
    <!-- Menu Footer-->
      <li class="user-footer">
        <div class="pull-left">
          <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default btn-flat">Profil</a>
        </div>
        <div class="pull-right">
          <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Déconnexion</a>
        </div>
      </li>
</ul>
</li>