
{% extends "PolytechProjetCoBundle::layoutAdmin.html.twig" %}

{% block title %}
  Produits - {{ parent() }}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-errors">
        {{ flashMessage }}
    </div>
{% endfor %}

<h2>Produits</h2>

<div class="box box-info">
    <div class="box-header with-border">
        <div class="pull-left">
            <h4>Détails du produits</h4>
        </div>
    </div>
    <div class="box-body">
        <div class="col-md-6">
            <img src="{{ asset(entity.getMediaId.AssetPath) }}" alt="{{ entity.getMediaId.name }}" class="img-Products-Details">
        </div>
        <div class="col-md-6">
            <table class="table table-responsive">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ entity.nom }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ entity.description }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ entity.prix }}</td>
                </tr>
                <tr>
                    <th>Disponible</th>
                    <td>{{ entity.disponible }}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div class="box-footer">
        <div class="col-xs-4">
            <div class="pull-center">
                <a href="{{ path('admin_produits') }}" class="btn btn-primary">
                    Retour à la liste
                </a>
            </div>
            
        </div>
        <div class="col-xs-4">
            <a href="{{ path('admin_produits_edit', { 'id': entity.id }) }}" class="btn btn-primary">
                Éditer
            </a>
        </div>
        <div class="col-xs-4">
            {{form_start(delete_form)}}
            {{form_widget(delete_form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Supprimer'}) }}
            {{form_end(delete_form)}}
        </div>
    </div>
</div>
{% endblock %}
