{% extends "PolytechProjetCoBundle::layoutAdmin.html.twig" %}

{% block title %}
  Produits - {{ parent() }}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-errors">
        {{ flashMessage }}
    </div>
{% endfor %}

  <h2>Nouveau produit</h2>

<div class="box">
    <div class="box-body">
        
    <form action="{{ path('admin_produits_create')}}" method="POST" {{form_enctype(form) }}>
        {{ form_errors(form) }}


        <table class="table table-responsive">
            <tbody>
                <tr>
                    <th>{{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}</th>
                    <td>{{ form_errors(form.nom) }}{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}</th>
                    <td>{{ form_errors(form.description) }}{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.prix, "Prix", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}</th>
                    <td>{{ form_errors(form.prix) }}{{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.disponible, "Disponible", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}</th>
                    <td>{{ form_errors(form.disponible) }}{{ form_widget(form.disponible, {'attr': {'class': 'checkbox'}}) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.media_id.file, "Choix du fichier", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}</th>
                    <td>{{ form_errors(form.media_id.file) }}{{ form_widget(form.media_id.file) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.media_id.name, "Nom du fichier", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}</th>
                    <td>{{ form_errors(form.media_id.name) }}{{ form_widget(form.media_id.name, {'attr': {'class': 'form-control'}}) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.tva_id, "TVA", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}</th>
                    <td>{{ form_errors(form.tva_id) }}{{ form_widget(form.tva_id, {'attr': {'class': 'form-control'}}) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.categories_id, "Catégories", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}</th>
                    <td>{{ form_errors(form.categories_id) }}{{ form_widget(form.categories_id, {'attr': {'class': 'form-control'}}) }}</td>
                </tr>
            </tbody>
        </table>


                {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        <div class="pull-right">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Créer le produit'}) }}
            
            {{ form_rest(form) }}
        </div>
                
    </form>
    </div>
</div>

<div class="pull-left">
    <a href="{{ path('admin_produits') }}" class="btn btn-primary">
                    Retour à la liste
                </a>
</div>
{% endblock %}
