
{% extends "PolytechProjetCoBundle::layoutAdmin.html.twig" %}

{% block title %}
  Utilisateurs - {{ parent() }}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-errors">
        {{ flashMessage }}
    </div>
{% endfor %}

<h2>Utilisateur</h2>

<div class="box box-info">
    <div class="box-header with-border">
        <div class="pull-left">
            <h4>Détails utilisateur</h4>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-responsive">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>UserName</th>
                    <td>{{ entity.username }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ entity.nom }}</td>
                </tr>
                <tr>
                    <th>Prenom</th>
                    <td>{{ entity.prenom }}</td>
                </tr>
                <tr>
                    <th>Numrue</th>
                    <td>{{ entity.numrue }}</td>
                </tr>
                <tr>
                    <th>Nomrue</th>
                    <td>{{ entity.nomrue }}</td>
                </tr>
                <tr>
                    <th>Cp</th>
                    <td>{{ entity.cp }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ entity.ville }}</td>
                </tr>
                <tr>
                    <th>Civilite</th>
                    <td>{{ entity.civilite }}</td>
                </tr>
                <tr>
                    <th>Dateinscription</th>
                    <td>{{ entity.dateinscription|date('Y-m-d H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <div class="col-xs-4">
            <div class="pull-center">
                <a href="{{ path('admin_user') }}" class="btn btn-primary">
                    Retour à la liste
                </a>
            </div>
            
        </div>
        <div class="col-xs-4">
            <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}" class="btn btn-primary ">
                Éditer
            </a>
        </div>
        <div class="col-xs-4">
            {{form_start(delete_form)}}
            {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Supprimer'}) }}
            {{form_end(delete_form)}}
        </div>
    </div>
</div>

{% endblock %}
