{% extends "PolytechProjetCoBundle::layoutAdmin.html.twig" %}

{% block title %}
  Drones - {{ parent() }}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-errors">
        {{ flashMessage }}
    </div>
{% endfor %}

    <h1>Modifier un drone</h1>

<div class="box">
    <div class="box-body">
        <div class="col-md-6">
            <img src="{{ asset(entity.getMedia.AssetPath) }}" alt="{{ entity.getMedia.name }}"  class="img-Products-Details">
        </div>
        <div class="col-md-6">
            {{form_start(edit_form)}}
                <table class="table table-responsive">
                    <tbody>
                        <tr>
                            <th>{{ form_label(edit_form.name, "Nom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}</th>
                            <td>{{ form_errors(edit_form.name) }}{{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}</td>
                        </tr>
                        <tr>
                            <th>{{ form_label(edit_form.media.file, "Choix de l\'image", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}</th>
                            <td>{{ form_errors(edit_form.media.file) }}{{ form_widget(edit_form.media.file) }}</td>
                        </tr>
                        <tr>
                            <th>{{ form_label(edit_form.approval, "Homologation", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}</th>
                            <td>{{ form_errors(edit_form.approval) }}{{ form_widget(edit_form.approval, {'attr': {'class': 'form-control'}}) }}</td>
                        </tr>
                        <tr>
                            <th>{{ form_label(edit_form.document.file, "Fichier d'homologation", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}</th>
                            <td>{{ form_errors(edit_form.document.file) }}{{ form_widget(edit_form.document.file) }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="pull-right">
                {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Mettre à jour'}) }}
                </div>
                <div class="hidden">
                    {{ form_rest(edit_form) }}
                </div>

                {{form_end(edit_form)}}
            </div>
    </div>
    <div class="box-footer">
        <div class="col-xs-6">
            <div class="pull-center">
                <a href="{{ path('drones') }}" class="btn btn-primary">
                    Retour à la liste
                </a>
            </div>

        </div>
        <div class="col-xs-6">
            {{form_start(delete_form)}}
            {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Supprimer'}) }}
            {{form_end(delete_form)}}
        </div>
    </div>
</div>
{% endblock %}
