{% extends "PolytechProjetCoBundle::layoutAdmin.html.twig" %}

{% block title %}
  {{title}} - {{ parent() }}
{% endblock %}

{% block body %}
<h2>{{title}}</h2>

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Liste des Produits</h3>
    </div>
      <div class="box-body">
        
        {% for produit in produits %}
          
            {% if loop.index == 1 %}
                <div class="row"> 
            {% elseif loop.index == 5 %}
                <div class="row"> 
            {% endif %}
        
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{produit.nom}}</h3>
                    </div>
                    <div class="box-body">
                        {{ produit.description|length > 50 ? produit.description|slice(0, 50) ~ '...' : produit.description }}

                    </div>
                    <div class="box-footer">
                        <div class="col-xs-6">
                            <a href="{{ path('polytech_ecommerce_AlterProduit',{'id':produit.id}) }}" class="btn btn-block btn-default">Modifier</a>
                        </div>
                        <div class="col-xs-6">
                            <a class="btn btn-block btn-default">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div><!-- /.col -->
          
            {% if loop.index == 4 %}
                </div> 
            {% elseif loop.index == 8 %}
                </div> 
            {% endif %}
           {% if loop.last %}
                     </div>            
            {% endif %}
          
          
        {% endfor %}

          
          
      </div><!-- /.box-body -->
    </div><!-- /.box -->

{% endblock %}