{% if is_granted('ROLE_ADMIN') %}
<!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <li class="header">NAVIGATION</li>
    <li class="treeview">
      <a href="{{ path('polytech_projet_co_dashboard') }}">
        <i class="fa fa-dashboard"></i> <span>Tableau de bord</span>
      </a>
    </li>

    <li>
      <a href="{{ path('admin_user') }}">
        <i class="glyphicon glyphicon-user"></i> <span>Utilisateurs</span> <small class="label pull-right bg-green">new</small>
      </a>
    </li>
    <li>
      <a href="{{ path('admin_produits') }}">
        <i class="glyphicon glyphicon-euro"></i> <span>Ventes</span>
      </a>
    </li>
      <li>
      <a href="{{ path('admin_commandes') }}">
        <i class="glyphicon glyphicon-euro"></i> <span>Commandes</span>
      </a>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-files-o"></i>
        <span>Fichiers</span>
        <span class="label pull-right bg-red">4</span>
      </a>
    </li>
  </ul>
{% elseif is_granted('ROLE_ENTREPRISE') %}
<!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <li class="header">NAVIGATION</li>
    <li class="treeview">
      <a href="{{ path('polytech_projet_co_dashboard') }}">
        <i class="fa fa-dashboard"></i> <span>Tableau de bord</span>
      </a>
    </li>

    <li>
      <a href="{{ path('polytech_user_pilotes') }}">
        <i class="glyphicon glyphicon-user"></i> <span>Pilotes</span> <small class="label pull-right bg-green">new</small>
      </a>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-files-o"></i>
        <span>Documents</span>
        <span class="label pull-right bg-red">4</span>
      </a>
    </li>
    <li>
      <a href="{{ path('polytech_user_facture') }}">
        <i class="glyphicon glyphicon-euro"></i> <span>Commandes</span>
      </a>
    </li>
  </ul>
{% endif %}